<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add new chat</title>
</head>
<body>
    <form action="/chat" method="POST">
        <label for="from">From:</label>
        <input type="text" id="from" name="from"><br><br>
        <label for="to">To:</label>
        <input type="text" id="to" name="to"><br><br>
        <label for="msg">Message:</label>
        <textarea id="msg" name="msg"></textarea><br><br>
        <input type="submit" value="Send">
    </form>
    
</body>
</html>